<h1>Booking Confirmed!</h1>

<p>Thank you, {{booking.passengerName}}. Your booking for flight {{booking.flight.flightNumber}} is confirmed.</p>

<p>Seats booked: {{booking.seatsBooked}}</p>
<p>Status: {{booking.status}}</p>

<a href="/bookings">View My Bookings</a>
<a href="/">Search More Flights</a>
